.pokemon-list-entry{
    height: fit-content;
}

.pokemon-list-container {
    width: -webkit-fill-available;
}

h1 {
    font-weight: 900;
    font-family: sans-serif;
}

.encounter-button {
    font-weight: 900;
    font-family: sans-serif;
}

.wild-page {
    margin-left: 40px;
}

.encounters {
    display: flex;
}

.sprite {
    width: -webkit-fill-available;
}