<mat-sidenav-container class="mat-sidenav-container" autosize>
    <mat-sidenav opened mode="side" class="mat-sidenav" #sidenav>
        <mat-nav-list class="menu-list">
            <mat-list-item class="list-item" *ngFor="let item of menu_items" routerLink="/{{item.route}}" routerLinkActive="active-list-item">
                <h2 class="nav-item-full-width">{{item.name}}</h2>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="mat-sidenav-content">
        <div class="router-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
