/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
    --primary: #282D31;
    --secondary: #212529;
    --accent-light: #969696;
    --accent-medium: #3D6D9C;
    --accent-dark: #3C4146;
}

mat-sidenav {
    width: 280px;
    padding: 15px;
}

.mat-drawer {
    background-color: #023075;
    color: #fff
}

.main-content {
    padding: 20px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}
